{% extends 'books/base.html' %}

{% block content %}
<h1 class="my-4">Detail -
  <small>{{ object.name }}</small>
</h1>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item"><strong>Tytuł:</strong> {{ object.name }}</li>
      <li class="list-group-item"><strong>Autor:</strong> {{ object.author }}</li>
      <li class="list-group-item"><strong>Przeczytana:</strong> {%if object.read %}Tak{% else %}Nie{% endif %}</li>
    </ul>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <a href="{% url 'books:book_list' %}" class="btn btn-info btn-sm">Powrót</a>
  </div>
</div>
{% endblock %}
