{% extends 'books/base.html' %}

{% block content %}
<h1 class="my-4">Usuwnięcie -
  <small>{{ object }}</small>
</h1>
<div class="row">
  <div class="col-12">
    <form method="post">
      {% csrf_token %}
      <div class="alert alert-warning" role="alert">
        Czy jesteś pewny usunięcia {{ object }} ?
      </div>
      <input type="submit" class="btn btn-info" value="Tak, usuń tą książkę" />
      <a class="btn btn-success" href="{% url 'books:book_list' %}">Nie</a>
    </form>
  </div>
</div>
{% endblock %}
