{% extends 'books/base.html' %}

{% block content %}
<h1 class="my-4">
  {% if not object.id %} Nowa Książka {% else %} Edycja - <small>{{ book.name }}</small>{% endif %}
</h1>
<div class="row">
  <div class="col-12">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" {% if not object.id %}value="Dodaj" {% else %} value="Zapisz" {% endif %} class="btn btn-success"/>
    </form>
  </div>
</div>
{% endblock %}
