{% extends 'books/base.html' %}

{% block content %}
<h1 class="my-4">
  <small>Lista książek</small>
</h1>
<div class="row">
  {% if object_list %}
  <div class="col-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Tytuł</th>
          <th scope="col">Autor</th>
          <th scope="col" class="text-center">Przeczytana?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for book in object_list %}
        <tr>
          <td>{{ book.name }}</td>
          <td>{{ book.author }}</td>
          <td class="text-center">
            {% if book.read %}<span class="badge badge-info">Tak</span>{% else %}<span class="badge badge-danger">Nie</span>{% endif %}
          </td>
          <td class="text-right">
            <a href="{% url 'books:book_view' book.id %}"><button type="button" class="btn btn-sm btn-primary">Szczegóły</button></a>
            <a href="{% url 'books:book_edit' book.id %}"><button type="button" class="btn btn-sm btn-warning">Zmień</button></a>
            <a href="{% url 'books:book_delete' book.id %}"><button type="button" class="btn btn-sm btn-danger">Usuń</button></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="col-12">
    <div class="alert alert-warning" role="alert">
      Lista książek jest pusta. Możesz <a class="badge badge-info" href="{% url "books:book_new" %}"><strong>dodać</strong></a> jedną.
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
